@page "/"
<h3>Home</h3>

<div id="title" style="text-align:center">
    <h1>
        Hello World! We meet again
    </h1>
    <Counter />
    <button>
        <a href="/About">About!</a>
    </button>
    <DataTypes />
</div>

@code {
    
}