@using Microsoft.Extensions.Logging;
@inject ILogger<Counter> logger;
<h3>Counter</h3>
<p>This is a test</p>
<button @onclick="IncrementCount">Count!</button>
<p>Count: @_counter</p>
@code {
    private int _counter = 0;
    
    private void IncrementCount()
    {
        logger.LogWarning("Someone has clicked me!");
        _counter++;
    }
}