@using HazardToSociety.Shared.Models
@using HazardToSociety.Server
@inject HttpClient _httpClient;

<h3>DataTypes</h3>

@if (_dataTypes != null)
{
    <ul>
        @foreach (var dataType in _dataTypes.Results)
        {
            <li>@dataType</li>
        }
    </ul>
}

@code {
    private NoaaPagedData<NoaaDataType> _dataTypes;
    
    protected override async Task OnInitializedAsync() 
        => _dataTypes = await _httpClient.GetFromJsonAsync<NoaaPagedData<NoaaDataType>>("api/records/data-types");
}